[submodule "Haze/vendor/spdlog"]
	path = Haze/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Haze/vendor/GLFW"]
	path = Haze/vendor/GLFW
	url = https://github.com/HafisCZ/glfw
[submodule "Haze/vendor/imgui"]
	path = Haze/vendor/imgui
	url = https://github.com/hafiscz/imgui
