[submodule "Haze/vendor/spdlog"]
	path = Haze/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Haze/vendor/GLFW"]
	path = Haze/vendor/GLFW
	url = https://github.com/HafisCZ/glfw
[submodule "Haze/vendor/imgui"]
	path = Haze/vendor/imgui
	url = https://github.com/hafiscz/imgui
[submodule "Haze/vendor/glm"]
	path = Haze/vendor/glm
	url = https://github.com/g-truc/glm
[submodule "Haze/vendor/assimp"]
	path = Haze/vendor/assimp
	url = https://github.com/HafisCZ/assimp
